## Movie Recommender Project Based off Spacy Word Embeddings

In [2]:
#importing packages
import pandas as pd
import numpy as np
import seaborn as sns

In [16]:
# !spacy download en_core_web_lg

In [17]:
# !pip install tweet-preprocessor

In [3]:
df=pd.read_csv('~/Downloads/archive (3)/links.csv')

In [4]:
df1=pd.read_csv('~/Downloads/archive (3)/movies.csv')

In [5]:
df2=pd.read_csv('~/Downloads/archive (3)/ratings.csv')

In [6]:
df3=pd.read_csv('~/Downloads/archive (3)/tags.csv')

In [7]:
df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
df1.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
df2.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [10]:
df3

        userId  movieId                            tag   timestamp
0           19     2324                    bittersweet  1428651158
1           19     2324                      holocaust  1428651112
2           19     2324                   World War II  1428651118
3           23     7075                      hilarious  1378675786
4           23     7075                     Underrated  1378675786
...        ...      ...                            ...         ...
586989  247751    96655                         future  1366041126
586990  247751    96655                         robots  1366041128
586991  247753      356                        classic  1430438776
586992  247753      356  oscar (best supporting actor)  1430438776
586993  247753      356                   social drama  1430438776

[586994 rows x 4 columns]

In [11]:
#groupby and drop column to organize df into movieId
df4 = df3.groupby(['movieId']).apply(lambda x : x.sort_values(by=['movieId'], ascending=True))

In [12]:
df4.drop(['movieId'], axis=1, inplace=True)

In [108]:
#merged df with tags to df with titles
test_df= pd.merge(df4, df1, on='movieId', how='inner')

In [156]:
#putting all the tags into one movie entry
from tqdm import tqdm
tqdm.pandas() 
results=[]
for ele in tqdm(test_df.title[:]):
    results.append(test_df[test_df.title==str(ele)].tag)

100%|█████████████████████████████████| 586994/586994 [2:57:04<00:00, 55.25it/s]

In [ ]:
#saving pickle file of results list
# import pickle
# with open ('results.pickle', 'wb') as f:
#     pickle.dump(results, f, 5)

In [414]:
#turning list into pd.Series
df7=pd.Series(results)
df7[0:5]

0    0         animation
1      imdb top 250
2     ...
1    0         animation
1      imdb top 250
2     ...
2    0         animation
1      imdb top 250
2     ...
3    0         animation
1      imdb top 250
2     ...
4    0         animation
1      imdb top 250
2     ...
dtype: object

In [790]:
#concatenating with main df
frames=[test_df.loc[:],df7]
work=pd.concat(frames, axis=1)
work

,movieId,userId,tag,timestamp,title,genres,0
0,1,261,animation,1313154708,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0 animation 1 imdb top 250 2 ...
1,1,155512,imdb top 250,1264024095,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0 animation 1 imdb top 250 2 ...
2,1,155512,humorous,1264024094,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0 animation 1 imdb top 250 2 ...
3,1,155512,funny,1264024092,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0 animation 1 imdb top 250 2 ...
4,1,155512,family,1264024089,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0 animation 1 imdb top 250 2 ...
...,...,...,...,...,...,...,...
586989,151677,132513,nudity,1453951859,Last Hippie Standing (2002),(no genres listed),586985 dance 586986 drugs ...
586990,151677,132513,spirituality,1453951836,Last Hippie Standing (2002),(no genres listed),586985 dance 586986 drugs ...
586991,151677,132513,trippy,1453951839,Last Hippie Standing (2002),(no genres listed),586985 dance 586986 drugs ...
586992,151677,132513,Yogi,1453951834,Last Hippie Standing (2002),(no genres listed),586985 dance 586986 drugs ...
586993,151701,172056,documentary,1454031135,Bloodmoney (2010),(no genres listed),"586993 documentary Name: tag, dtype: object"

In [791]:
#cleaning up df
work.drop_duplicates(subset='movieId', inplace=True)

In [792]:
#renaming column to tags
work.rename(columns={0:'tags'}, inplace=True)

In [793]:
import re
import string

In [794]:
work.genres=[str(x).translate(str.maketrans('', '', string.punctuation)) for x in work.tags[:]]

In [795]:
work

,movieId,userId,tag,timestamp,title,genres,tags
0,1,261,animation,1313154708,Toy Story (1995),0 animation\n1 imdb top 250\n2 ...,0 animation 1 imdb top 250 2 ...
548,2,1040,itaege,1438050732,Jumanji (1995),548 itaege\n549 scary...,548 itaege 549 scary ...
687,3,32298,sequel,1385355832,Grumpier Old Men (1995),687 sequel\n68...,687 sequel 688...
705,4,43484,chick flick,1308558977,Waiting to Exhale (1995),705 chick flick\n706 revenge\n707 ...,705 chick flick 706 revenge 707 ...
712,5,41136,humorous,1438507539,Father of the Bride Part II (1995),712 humorous\n...,712 humorous 7...
...,...,...,...,...,...,...,...
586971,151567,206004,aliens,1453647533,The War in Space (1977),586971 aliens\n586972 hostile al...,586971 aliens 586972 hostile ali...
586976,151599,73352,crowd funding,1453694405,Capital C (2015),586976 crowd funding\n586977 Documenta...,586976 crowd funding 586977 Documentar...
586979,151621,119408,Australia,1453758146,Looking for Grace (2015),586979 Australia\n586980 Couple...,586979 Australia 586980 Couple ...
586985,151677,132513,dance,1453951844,Last Hippie Standing (2002),586985 dance\n586986 drugs...,586985 dance 586986 drugs ...
586993,151701,172056,documentary,1454031135,Bloodmoney (2010),586993 documentary\nName tag dtype object,"586993 documentary Name: tag, dtype: object"

In [796]:
#using regex to clean the data
work.genres=[re.sub(r"\d+", ' ', x) for x in work.genres[:]]

In [797]:
work.genres=[re.sub(r"\n", '', x) for x in work.genres[:]]

In [798]:
work.genres=[re.sub(r"\s+", ',', x) for x in work.genres[:]]

In [799]:
#cleaned tags
work.genres=[x.split(',') for x in work.genres[:]]

In [800]:
work.genres[0]

['',
 'animation',
 'imdb',
 'top',
 'humorous',
 'funny',
 'family',
 'children',
 'comedy',
 'fantasy',
 'Pixar',
 'pixarName',
 'tag',
 'Length',
 'dtype',
 'object']

In [801]:
# work.genres=[set(x) for x in work.genres]

In [802]:
work[['title','genres']]

,title,genres
0,Toy Story (1995),"[, animation, imdb, top, humorous, funny, fami..."
548,Jumanji (1995),"[, itaege, scary, Robin, Williams, fantasy, an..."
687,Grumpier Old Men (1995),"[, sequel, old, people, that, is, actually, fu..."
705,Waiting to Exhale (1995),"[, chick, flick, revenge, CLV, characters, gir..."
712,Father of the Bride Part II (1995),"[, humorous, Fantasy, Touching, Comedy, sequel..."
...,...,...
586971,The War in Space (1977),"[, aliens, hostile, aliens, space, travel, Ven..."
586976,Capital C (2015),"[, crowd, funding, Documentary, inspirationalN..."
586979,Looking for Grace (2015),"[, Australia, Couple, relations, Family, relat..."
586985,Last Hippie Standing (2002),"[, dance, drugs, India, music, nudity, spiritu..."
586993,Bloodmoney (2010),"[, documentaryName, tag, dtype, object]"

In [169]:
#importing spacy 
import spacy
nlp = spacy.load("en_core_web_lg")

In [170]:
#tokenizer
spacy_tokenizer = nlp.tokenizer

In [184]:
#function to take tag column an return word embedding
def prep(x):
    z=spacy_tokenizer(x) 
    z=nlp(z).vector.reshape(300,)
    return z

In [185]:
#function to tae tag column and return word embedding
def prepare(x):
    z=spacy_tokenizer(x)
    z=nlp(z).vector.reshape(300,)
    return z

In [186]:
work.shape

(21654, 7)

In [803]:
#function that preps word embedding and computes cosine similarity
q= work[work['title']=='Shawshank Redemption, The (1994)'].genres

def rec_movie():
    z=prep(str(q))
    listA=[]
    t=[prepare(str(x)) for x in  work['genres'].loc[:]]
    for i in range(len(t)):
        listA.append(np.dot(t[i], z)/(np.linalg.norm(t[i])*np.linalg.norm(z)))
    ser= listA
    work.timestamp=ser

In [804]:
#running function
rec_movie()

In [805]:
#sorting the cosine similarities
work.timestamp.sort_values(ascending=False)[0:5]

583527    0.697195
583645    0.692643
572668    0.691846
190018    0.691542
424669    0.691043
Name: timestamp, dtype: float32

In [810]:
#finding out what movies are returned
work.loc[424669]

movieId                                                  62847
userId                                                  108788
tag                                                 alcoholism
timestamp                                             0.691043
title                Love of Siam, The (Rak haeng Siam) (2007)
genres       [, alcoholism, coming, of, age, family, bonds,...
tags         424669             alcoholism
424670          ...
Name: 424669, dtype: object

In [417]:
TOY STORY::::About Adam, Happy Weekend, In the Mix, StreeDance 3D, The Maze
THE SHAWSHANK REDEMPTION::::: Dog Pound, Prison, In Hell, Women in Cellblock 9, Convict (#w/o cleaned tags)
THE SHAWSHANK REDEMPTION::::: Annie Get Your Gun, Kill Me Again, Don Quixote, Snow White, The Best Little Whorehouse in Texas #with set(x) and cleaned tags
THE SHAWSHANK REDEMPTION::::: The Church, The Hunger Games: Mockingjay - Part2, Beyond All Boundaries, The Flamingo Kid, Shag #with set(x)
THE SHAWSHANK REDEMPTION::::: 'The Hunger Games: Mockingjay - Part2', 'Buster and Billie', 'Wild Tales', 'Human Traffic', 'The Love of Siam'#w/o set(x) and cleaned tags

In [197]:
work[work.title=='Shawshank Redemption, The (1994)']

,movieId,userId,tag,timestamp,title,genres,tags
29752,318,400,drama,0.624667,"Shawshank Redemption, The (1994)",Crime|Drama,29752 drama 29753 prison escape ...

In [196]:
work

,movieId,userId,tag,timestamp,title,genres,tags
0,1,261,animation,0.861402,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0 animation 1 imdb top 250 2 ...
548,2,1040,itaege,0.719058,Jumanji (1995),Adventure|Children|Fantasy,548 itaege 549 scary ...
687,3,32298,sequel,0.517957,Grumpier Old Men (1995),Comedy|Romance,687 sequel 688...
705,4,43484,chick flick,0.616212,Waiting to Exhale (1995),Comedy|Drama|Romance,705 chick flick 706 revenge 707 ...
712,5,41136,humorous,0.521521,Father of the Bride Part II (1995),Comedy,712 humorous 7...
...,...,...,...,...,...,...,...
586971,151567,206004,aliens,0.649898,The War in Space (1977),Action|Adventure|Sci-Fi,586971 aliens 586972 hostile ali...
586976,151599,73352,crowd funding,0.718220,Capital C (2015),Documentary,586976 crowd funding 586977 Documentar...
586979,151621,119408,Australia,0.644885,Looking for Grace (2015),Drama,586979 Australia 586980 Couple ...
586985,151677,132513,dance,0.628245,Last Hippie Standing (2002),(no genres listed),586985 dance 586986 drugs ...
586993,151701,172056,documentary,0.791820,Bloodmoney (2010),(no genres listed),"586993 documentary Name: tag, dtype: object"